node_modules
.venv
__pycache__
*.pyc
.git
.github
.agents
.editorconfig
.eslintignore
.eslintrc.json
.gcloudignore
.prettierrc.js
.style.yapf
CONTRIBUTING.md
LICENSE
README.md
app.yaml
requirements-dev.txt
spec
tests
tools
vercel.json
xliff
*.gif
*.xlf
storybook-static
