{% if lastInputSpeech %}
You are talking with your partner. The conversation is as follows:
{% if lastOutputSpeech %}
You:
{{ lastOutputSpeech }}
{% endif %}
Partner:
{{ lastInputSpeech }}

{% if conversationHistory %}
Here is the conversation history:
{{ conversationHistory }}
{% endif %}

Considering this context, please guess and generate a list of {{ num }} different sentences that start with "{{ text }}".
{% else %}
Please guess and generate a list of {{ num }} different sentences that start with "{{ text }}".
{% endif %}
{% if sentenceEmotion %}

Note that the user has indicated their intention to input a {{ sentenceEmotion }} sentence.
{% endif %}

Please note the word I provide may not be complete, so use your best guess. Each answer must start with an index number, and each answer should start with different word to cover wider topics. The response should be in {{ language }}. Those sentences should not be the same. Do not highlight answers with asterisk. Since your output will be used as the user's input, do not include any extra notes, labels or explanations in your output.
The answer should be in {{ language }}.
{% if persona %}

FYI: The user's profile is as follows:
{{ persona }}
{% endif %}

Answer:
